.container {
    display: flex;
}

.main {
    /* flex: 1; */
    background-color: #fff;
    height: 900px;
    flex-direction: column;
}

.header {
    flex: 0.15;
    background-color: #282c34;
}

.first {
    flex: 0.7;
}

.second {
    flex: 0.3;
    background-color: antiquewhite
}

.form {
    border: 1px dotted #999;
    height: 100px;
    justify-content: center;
    align-items: center;
    /* margin: ; */
    /* background-color: red; */
}

.form > * { 
    /* TODO: Direct descendant selector lets one control spacing between child elements */
    /* padding: 0 20px 0 20px; */
    margin: 0 20px 0 20px;
}

.input {
    font-family: 'Avenir Next';
    border: 2px dashed #fff;
    border-radius: 10px;
}

.body {
    flex: 0.85;
}